[submodule "dragonfly-controller"]
	path = dragonfly
	url = https://github.com/antonellabarisic/dragonfly-controller.git
[submodule "java_rosbridge"]
	path = java_rosbridge
	url = https://github.com/johncarl81/java_rosbridge.git
